<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Fonseca - Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Portfolio</a></h1>
        <nav>
           <!--<a href="{% url 'cursos' %}">Cursos</a> -->
            <a href="">Projects</a>
            <a href="">Competencies</a>
            <a href="{% url 'disciplines' %}">Disciplines</a>
            <a href="">Teachers</a>
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>