<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Fonseca - Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <header>
        <h1> Portfolio</a><br><small>Pedro Fonseca</small></h1>
        <nav>
           <!--<a href="{% url 'cursos' %}">Cursos</a> -->
            <a href="{% url 'home' %}" style="text-decoration:none"><i class="fa-solid fa-house"></i></i> Home</a>
            <a href=""><i class="fa-solid fa-project-diagram"></i> Projects</a>
            <a href="{% url 'disciplines' %}"><i class="fa-solid fa-book"></i> Disciplines</a>
            <a href=""><i class="fa-solid fa-laptop-code"></i> Tecnologies</a>
            <a href=""><i class="fa-solid fa-tasks"></i> Competencies</a>
            <a href=""><i class="fa-solid fa-chalkboard-teacher"></i> Teachers</a>
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>